In [1]:
import glob
import os
import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('talk')
sns.set_style('white')

In [2]:
names=['timestamp','activityID','heartrate', \
                         'IMU_hand_temp','IMU_hand_ax1','IMU_hand_ay1','IMU_hand_az1', \
                         'IMU_hand_ax2','IMU_hand_ay2','IMU_hand_az2', \
                         'IMU_hand_rotx','IMU_hand_roty','IMU_hand_rotz', \
                         'IMU_hand_magx','IMU_hand_magy','IMU_hand_magz', \
                         'IMU_hand_oru','IMU_hand_orv','IMU_hand_orw', 'IMU_hand_orx', \
                         'IMU_chest_temp','IMU_chest_ax1','IMU_chest_ay1','IMU_chest_az1', \
                         'IMU_chest_ax2','IMU_chest_ay2','IMU_chest_az2', \
                         'IMU_chest_rotx','IMU_chest_roty','IMU_chest_rotz', \
                         'IMU_chest_magx','IMU_chest_magy','IMU_chest_magz', \
                         'IMU_chest_oru','IMU_chest_orv','IMU_chest_orw', 'IMU_chest_orx', \
                         'IMU_ankle_temp','IMU_ankle_ax1','IMU_ankle_ay1','IMU_ankle_az1', \
                         'IMU_ankle_ax2','IMU_ankle_ay2','IMU_ankle_az2', \
                         'IMU_ankle_rotx','IMU_ankle_roty','IMU_ankle_rotz', \
                         'IMU_ankle_magx','IMU_ankle_magy','IMU_ankle_magz', \
                         'IMU_ankle_oru','IMU_ankle_orv','IMU_ankle_orw', 'IMU_ankle_orx']

In [3]:
path = r'C:\Users\meesh\Desktop\PAMAP2 Physical Activity Monitoring Data Set\PAMAP2_Dataset\Protocol' 
all_files = glob.glob(os.path.join(path, "*.dat"))

df_from_each_file = (pd.read_csv(f, sep=' ', names=names)
                     .assign(subject = os.path.splitext(os.path.basename(f))[0]) for f in all_files)
df   = pd.concat(df_from_each_file, ignore_index=True)

In [4]:
activitymap = {1: 'lying',
               2: 'sitting',
               3: 'standing',
               4: 'walking',
               5: 'running',
               6: 'cycling',
               7: 'Nordic walking',
               9: 'watching TV',
               10: 'computer work',
               11: 'car driving',
               12: 'ascending stairs',
               13: 'descending stairs',
               16: 'vacuum cleaning',
               17: 'ironing',
               18: 'folding laundry',
               19: 'house cleaning',
               20: 'playing soccer',
               24: 'rope jumping',
               0: 'other'}

In [5]:
df.insert(2, 'activity', df['activityID'].apply(activitymap.get))
#df['activity'] = df.activity.astype('category')

In [6]:
df.head()

,timestamp,activityID,activity,heartrate,IMU_hand_temp,IMU_hand_ax1,IMU_hand_ay1,IMU_hand_az1,IMU_hand_ax2,IMU_hand_ay2,...,IMU_ankle_roty,IMU_ankle_rotz,IMU_ankle_magx,IMU_ankle_magy,IMU_ankle_magz,IMU_ankle_oru,IMU_ankle_orv,IMU_ankle_orw,IMU_ankle_orx,subject
0,8.38,0,other,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,...,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0,subject101
1,8.39,0,other,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,...,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0,subject101
2,8.40,0,other,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,...,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0,subject101
3,8.41,0,other,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,...,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0,subject101
4,8.42,0,other,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,...,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0,subject101

In [7]:
df = df[df.activityID != 0]

In [8]:
df.index = df.timestamp

In [9]:
# Removing column
list_drop = ['timestamp','IMU_hand_oru','IMU_hand_orv','IMU_hand_orw', 'IMU_hand_orx',
            'IMU_chest_oru','IMU_chest_orv','IMU_chest_orw', 'IMU_chest_orx',
            'IMU_ankle_oru','IMU_ankle_orv','IMU_ankle_orw', 'IMU_ankle_orx']
df.drop(list_drop, axis=1, inplace=True)

In [10]:
df.head()

,activityID,activity,heartrate,IMU_hand_temp,IMU_hand_ax1,IMU_hand_ay1,IMU_hand_az1,IMU_hand_ax2,IMU_hand_ay2,IMU_hand_az2,...,IMU_ankle_ax2,IMU_ankle_ay2,IMU_ankle_az2,IMU_ankle_rotx,IMU_ankle_roty,IMU_ankle_rotz,IMU_ankle_magx,IMU_ankle_magy,IMU_ankle_magz,subject
timestamp,,,,,,,,,,,,,,,,,,,,,
37.66,1,lying,NaN,30.375,2.21530,8.27915,5.58753,2.24689,8.55387,5.77143,...,9.63162,-1.76757,0.265761,0.002908,-0.027714,0.001752,-61.1081,-36.8636,-58.3696,subject101
37.67,1,lying,NaN,30.375,2.29196,7.67288,5.74467,2.27373,8.14592,5.78739,...,9.58649,-1.75247,0.250816,0.020882,0.000945,0.006007,-60.8916,-36.3197,-58.3656,subject101
37.68,1,lying,NaN,30.375,2.29090,7.14240,5.82342,2.26966,7.66268,5.78846,...,9.60196,-1.73721,0.356632,-0.035392,-0.052422,-0.004882,-60.3407,-35.7842,-58.6119,subject101
37.69,1,lying,NaN,30.375,2.21800,7.14365,5.89930,2.22177,7.25535,5.88000,...,9.58674,-1.78264,0.311453,-0.032514,-0.018844,0.026950,-60.7646,-37.1028,-57.8799,subject101
37.70,1,lying,100.0,30.375,2.30106,7.25857,6.09259,2.20720,7.24042,5.95555,...,9.64677,-1.75240,0.295902,0.001351,-0.048878,-0.006328,-60.2040,-37.1225,-57.8847,subject101

In [11]:
pd.crosstab(df.subject,df.activityID, margins=True)

activityID,1,2,3,4,5,6,7,12,13,16,17,24,All
subject,,,,,,,,,,,,,
subject101,27187,23480,21717,22253,21265,23575,20265,15890,14899,22941,23573,12912,249957
subject102,23430,22345,25576,32533,9238,25108,29739,17342,15213,20683,28880,13262,263349
subject103,22044,28761,20533,29036,0,0,0,10389,15275,20325,27975,0,174338
subject104,23047,25492,24706,31932,1,22699,27533,16694,14285,20037,24995,0,231421
subject105,23699,26864,22132,32033,24646,24577,26271,14281,12727,24445,33034,7733,272442
subject106,23340,23041,24356,25721,22825,20486,26686,13291,11272,21078,37744,256,250096
subject107,25611,12282,25751,33720,3692,22680,28725,17646,11618,21552,29499,0,232776
subject108,24165,22923,25160,31533,16532,25475,28888,11683,9655,24292,32990,8806,262102
subject109,0,0,0,0,0,0,0,0,0,0,0,6391,6391
All,192523,185188,189931,238761,98199,164600,188107,117216,104944,175353,238690,49360,1942872

Drop subject109 as it only performs one activity: rope jumping

In [12]:
df = df[df.subject != 'subject109']

In [13]:
df.drop_duplicates(keep='first', inplace=True);

In [14]:
df["heartrate"].fillna(method='ffill', inplace=True)
df["heartrate"].fillna(method='bfill', inplace=True)
df.shape

(1936367, 43)

In [15]:
df.dropna(inplace=True);
df.shape

(1915045, 43)

In [16]:
def reduce_mem_usage(props):
    start_mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage of properties dataframe is :",start_mem_usg," MB")
    NAlist = [] # Keeps track of columns that have missing values filled in. 
    for col in props.columns:
        if props[col].dtype != object:  # Exclude strings
            
            # Print current column type
            print("******************************")
            print("Column: ",col)
            print("dtype before: ",props[col].dtype)
            
            # make variables for Int, max and min
            IsInt = False
            mx = props[col].max()
            mn = props[col].min()
            
            # Integer does not support NA, therefore, NA needs to be filled
            if not np.isfinite(props[col]).all(): 
                NAlist.append(col)
                props[col].fillna(mn-1,inplace=True)  
                   
            # test if column can be converted to an integer
            asint = props[col].fillna(0).astype(np.int64)
            result = (props[col] - asint)
            result = result.sum()
            if result > -0.01 and result < 0.01:
                IsInt = True

            
            # Make Integer/unsigned Integer datatypes
            if IsInt:
                if mn >= 0:
                    if mx < 255:
                        props[col] = props[col].astype(np.uint8)
                    elif mx < 65535:
                        props[col] = props[col].astype(np.uint16)
                    elif mx < 4294967295:
                        props[col] = props[col].astype(np.uint32)
                    else:
                        props[col] = props[col].astype(np.uint64)
                else:
                    if mn > np.iinfo(np.int8).min and mx < np.iinfo(np.int8).max:
                        props[col] = props[col].astype(np.int8)
                    elif mn > np.iinfo(np.int16).min and mx < np.iinfo(np.int16).max:
                        props[col] = props[col].astype(np.int16)
                    elif mn > np.iinfo(np.int32).min and mx < np.iinfo(np.int32).max:
                        props[col] = props[col].astype(np.int32)
                    elif mn > np.iinfo(np.int64).min and mx < np.iinfo(np.int64).max:
                        props[col] = props[col].astype(np.int64)    
            
            # Make float datatypes 32 bit
            else:
                props[col] = props[col].astype(np.float32)
            
            # Print new column type
            print("dtype after: ",props[col].dtype)
            print("******************************")
    
    # Print final result
    print("___MEMORY USAGE AFTER COMPLETION:___")
    mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage is: ",mem_usg," MB")
    print("This is ",100*mem_usg/start_mem_usg,"% of the initial size")
    return props, NAlist

In [17]:
df, NAlist = reduce_mem_usage(df)
print("_________________")
print("")
print("Warning: the following columns have missing values filled with 'df['column_name'].min() -1': ")
print("_________________")
print("")
print(NAlist)

Memory usage of properties dataframe is : 642.8678894042969  MB
******************************
Column:  activityID
dtype before:  int64
dtype after:  uint8
******************************
******************************
Column:  heartrate
dtype before:  float64
dtype after:  uint8
******************************
******************************
Column:  IMU_hand_temp
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_ax1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_ay1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_az1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_ax2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_ay2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_az2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_rotx
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_roty
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_rotz
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_magx
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_magy
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_hand_magz
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_temp
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_ax1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_ay1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_az1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_ax2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_ay2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_az2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_rotx
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_roty
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_rotz
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_magx
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_magy
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_chest_magz
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_temp
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_ax1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_ay1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_az1
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_ax2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_ay2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_az2
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_rotx
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_roty
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_rotz
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_magx
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_magy
dtype before:  float64
dtype after:  float32
******************************
******************************
Column:  IMU_ankle_magz
dtype before:  float64
dtype after:  float32
******************************
___MEMORY USAGE AFTER COMPLETION:___
Memory usage is:  332.3919200897217  MB
This is  51.70454545454545 % of the initial size
_________________

Warning: the following columns have missing values filled with 'df['column_name'].min() -1':
_________________

[]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 1915045 entries, 37.66 to 3888.41
Data columns (total 43 columns):
activityID        uint8
activity          object
heartrate         uint8
IMU_hand_temp     float32
IMU_hand_ax1      float32
IMU_hand_ay1      float32
IMU_hand_az1      float32
IMU_hand_ax2      float32
IMU_hand_ay2      float32
IMU_hand_az2      float32
IMU_hand_rotx     float32
IMU_hand_roty     float32
IMU_hand_rotz     float32
IMU_hand_magx     float32
IMU_hand_magy     float32
IMU_hand_magz     float32
IMU_chest_temp    float32
IMU_chest_ax1     float32
IMU_chest_ay1     float32
IMU_chest_az1     float32
IMU_chest_ax2     float32
IMU_chest_ay2     float32
IMU_chest_az2     float32
IMU_chest_rotx    float32
IMU_chest_roty    float32
IMU_chest_rotz    float32
IMU_chest_magx    float32
IMU_chest_magy    float32
IMU_chest_magz    float32
IMU_ankle_temp    float32
IMU_ankle_ax1     float32
IMU_ankle_ay1     float32
IMU_ankle_az1     float32
IMU_ankle_ax2     float32
IMU_ankle_ay2     float32
IMU_ankle_az2     float32
IMU_ankle_rotx    float32
IMU_ankle_roty    float32
IMU_ankle_rotz    float32
IMU_ankle_magx    float32
IMU_ankle_magy    float32
IMU_ankle_magz    float32
subject           object
dtypes: float32(39), object(2), uint8(2)
memory usage: 332.4+ MB

In [19]:
#df['activity'] = df.activity.astype('category').cat.codes

In [20]:
subjectDict = {elem : pd.DataFrame for elem in df.subject.unique()}
for key in subjectDict.keys():
    subjectDict[key] = df.loc[:, :'IMU_ankle_magz'][df.subject == key]

In [21]:
subjectDict['subject101'].to_pickle(r'data\subject101.pkl')
subjectDict['subject102'].to_pickle(r'data\subject102.pkl')
subjectDict['subject103'].to_pickle(r'data\subject103.pkl')
subjectDict['subject104'].to_pickle(r'data\subject104.pkl')
subjectDict['subject105'].to_pickle(r'data\subject105.pkl')
subjectDict['subject106'].to_pickle(r'data\subject106.pkl')
subjectDict['subject107'].to_pickle(r'data\subject107.pkl')
subjectDict['subject108'].to_pickle(r'data\subject108.pkl')

In [22]:
df.to_pickle(r'data\data_sub.pkl')

In [23]:
df.drop('subject', axis=1,inplace=True)

In [24]:
df.head()

,activityID,activity,heartrate,IMU_hand_temp,IMU_hand_ax1,IMU_hand_ay1,IMU_hand_az1,IMU_hand_ax2,IMU_hand_ay2,IMU_hand_az2,...,IMU_ankle_az1,IMU_ankle_ax2,IMU_ankle_ay2,IMU_ankle_az2,IMU_ankle_rotx,IMU_ankle_roty,IMU_ankle_rotz,IMU_ankle_magx,IMU_ankle_magy,IMU_ankle_magz
timestamp,,,,,,,,,,,,,,,,,,,,,
37.66,1,lying,100,30.375,2.21530,8.27915,5.58753,2.24689,8.55387,5.77143,...,0.095156,9.63162,-1.76757,0.265761,0.002908,-0.027714,0.001752,-61.108101,-36.863602,-58.369598
37.67,1,lying,100,30.375,2.29196,7.67288,5.74467,2.27373,8.14592,5.78739,...,-0.020804,9.58649,-1.75247,0.250816,0.020882,0.000945,0.006007,-60.891602,-36.319698,-58.365601
37.68,1,lying,100,30.375,2.29090,7.14240,5.82342,2.26966,7.66268,5.78846,...,-0.059173,9.60196,-1.73721,0.356632,-0.035392,-0.052422,-0.004882,-60.340698,-35.784199,-58.611900
37.69,1,lying,100,30.375,2.21800,7.14365,5.89930,2.22177,7.25535,5.88000,...,0.094385,9.58674,-1.78264,0.311453,-0.032514,-0.018844,0.026950,-60.764599,-37.102798,-57.879902
37.70,1,lying,100,30.375,2.30106,7.25857,6.09259,2.20720,7.24042,5.95555,...,0.095775,9.64677,-1.75240,0.295902,0.001351,-0.048878,-0.006328,-60.203999,-37.122501,-57.884701

In [25]:
df.to_pickle(r'data\data.pkl')  # where to save it, usually as a .pkl